&pdm_imu_pwr {
	regulator-always-on;
};

&imu_power_default_on {
	output-high;
};

&lsm6ds3tr_c {
	vin-supply = <&pdm_imu_pwr>;
};

&i2c30 {
	clock-frequency = <1000000>;
};

/ {
	chosen {
		zephyr,console = &uart20;
		zephyr,shell-uart = &uart20;
	};

	zephyr,user {
		io-channels = <&adc 7>;
	};
};
